body {
  font-family: "Varela Round", sans-serif;
}
img {
  display: block;
  margin: 0 auto;
}
h1{
    padding-left: 10px;
}
p {
  font-size: 1em;
}
.readability{
    line-height: 1.6;
}
#subtitle {
  text-align: center;
}
li {
  list-style: none;
}
 li a{
     color: black;
}
#navbar li {
  padding: 0 20px;
  float: right;
  color: black;
}
#app_title {
  text-align: center;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.descriptions {
  padding: 20px 0;
  margin: 0 40px;
}
.three-column-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
}

 footer {
  background-color: gold; 
  position: bottom;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
  width: 100%;
} 
footer ul{
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
    
  color: black;
}
footer ul li{
   text-decoration: none;
}