body {
  font-family: "Varela Round", sans-serif;
}
img {
  display: block;
  margin: 0 auto;
}
h1{
    padding-left: 10px;
}
p {
  font-size: 1em;
}
.readability{
    line-height: 1.6;
}
#subtitle {
  text-align: center;
  color:black;
}
li {
  list-style: none;
    font-size: 1em;
}
nav ul li{
    font-size: 2 rem;
}
 li a{
     color: black;
     display: inline-block;
     text-decoration: none;
}
#navbar li {
  padding: 0 20px;
  float: right;
  color: black;
}
.hover-link::after{
    content: "";
    display:block;
    width:0;
    height: 2px;
    background: #C3AAAA;
    transition: width .3s;
}
.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}
#app_title {
  text-align: center;
  color: #16537e;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.descriptions {
  padding: 20px 0;
  margin: 0 40px;
}
.three-column-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
}

 footer {
  background-color:#C3AAAA; 
  position: bottom;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
  width: 100%;
} 
footer ul{
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
    
  color: black;
}
footer ul li{
   text-decoration: none;
    
}
.views{
    margin: 30px;
}
.login-view{
    margin-bottom: 50px;
}
#pp_title{
     text-align: center;
     color: #754747;
    margin: 60;
}
a:link{
  text-decoration:none;
}
