body {
  font-family: "Varela Round", sans-serif;
    font-size: 20px;
    
}
img {
  display: block;
  margin: 0 auto;
}
h1{
    padding-left: 10px;
     color: #754747;
}
p {
  font-size: 1em;
    color:black;
}
.readability{
    line-height: 1.6;
}
#subtitle {
  text-align: center;
  color:black;
}
li {
  list-style: none;
    font-size: 1em;
}
@media screen and (max-width: 480px){
    li{
        font-size: 20px ;
    }
    #logo{
        width: 80%;
    }
    .small-screen-footer{
    grid-template-rows:  1fr auto;
    }
     .small-screen-footer li{
    padding: 10px;
    font-size: 16px;
    }
    #poster{
    width: 90%;
}
    #navbar{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .video_dim{
       
    }
}
nav ul li{
    font-size: 2 rem;
}
 li a{
    color: #754747;
     display: inline-block;
     text-decoration: none;
}
#navbar li {
  padding: 0 20px;
  float: right;
  color: black;
}
.hover-link::after{
    content: "";
    display:block;
    width:0;
    height: 2px;
    background: #C3AAAA;
    transition: width .3s;
}
.hover-link:hover::after{
    width: 100%;
    transition: width .3s;
}
#app_title {
  text-align: center;
  color: #16537e;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.descriptions {
  padding: 20px 0;
  margin: 0 40px;
}
.three-column-section{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
}

 footer {
  background-color:#C3AAAA; 
  position: bottom;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
  width: 100%;
} 
footer ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
  color: black;
}
footer ul li{
   text-decoration: none;
    
}
.views{
    margin: 30px;
}
.login-view{
    margin-bottom: 50px;
}
#pp_title{
     text-align: center;
     color: #754747;
     margin: 60;
}
a:link{
  text-decoration:none;
} 
.video{
display:flex;
justify-content: space-around;
padding-right: 40px;
}
.video_dim{
    width: 90%;
    height: 50vw; 
}
